
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to My Assignment</h1>
    
    <p>This is the homepage content. Please click the link below to go to the search application</p>
    
    <a href="{% url 'dish_search' %}">Go to Dish Search</a>
    <p><b>Made By:</b> Sanjana Gupta 
        <br>
        <b>Email:</b> sanjanagupta2003.4@gmail.com
        <br>
        <b>Phone: </b> 9811909930
    </p>

    
</body>
</html>
